.active-tab-item {
  color: orange;
  text-decoration: underline;
}

.tab-btn {
  color: white;
  background-color: transparent;
  border-width: 0px;
  margin: 10px;
  width: 100px;
  font-size: 24px;
}
